<p id="notice"><%= notice %></p>

<h1><%= @lecture.name %></h1>

<p>
  <strong>Given by:</strong>
  <%= @lecture.teacher.name %>
  <%= time_ago_in_words(@lecture.date) %> ago
</p>

<p>
    Received <%= @lecture.votes.count %> votes with an average
    rating of <%= @lecture.average_rating.round(2) %>
</p>

<%= form_for([@lecture, @vote ]) do |f| %>
    <%= f.hidden_field(:lecture_id, :value => @lecture.id) %>
    <%= f.radio_button(:stars, 1) %> 1 star </br>
    <%= f.radio_button(:stars, 2) %> 2 stars </br>
    <%= f.radio_button(:stars, 3) %> 3 stars </br>
    <%= f.radio_button(:stars, 4) %> 4 stars </br>
    <%= f.radio_button(:stars, 5, checked: true) %> 5 stars </br>

    <div class="actions">
    <%= f.submit %>
    </div>
<% end %>
